// Colors
$PaleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);
$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

// Mobile: 375px
// Desktop: 1440px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/pattern-background-mobile.svg") no-repeat $PaleBlue;
  background-size: 100%;
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #717fa6;
  place-items: center;
  height: 100vh;
  display: grid;
}

main {
  padding: 32px 24px;
  margin-bottom: 24px;
}

.card-wrapper {
  width: 327px;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
}

.hero-img {
  width: 327px;
}

.card-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1.5em;
  padding: 0.8em;
  border-radius: 10px;
  background-color: $VeryPaleBlue;
}

.card-info-left {
  display: flex;
}
.card-info-right a {
  font-weight: 700;
  font-size: 0.8rem;
  opacity: 1;
  transition: all 0.2s ease;
}

.card-details p {
  font-size: 0.8rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.2em;
  gap: 0.2em;
  text-align: left;
  font-size: 0.7rem;
}

.change:hover {
  opacity: 0.8;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.65em;
  margin-bottom: 1.5em;
}

.payment-btn,
.cancel-btn {
  all: unset;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 700;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
}

.payment-btn {
  background: $BrightBlue;
  box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.25);
  opacity: 1;
  transition: all 0.2s ease;
}
.payment-btn:hover {
  opacity: 0.8;
}
.proceed {
  color: white;
  text-decoration: none;
}
.cancel-btn {
  color: #717fa6;
  transition: color 0.2s ease;
}

.cancel {
  color: #717fa6;
  text-decoration: none;
}
.cancel:hover {
  color: $DarkBlue;
}

// Fonts

h1 {
  font-size: 22px;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 16px;
  color: $DarkBlue;
}

p {
  font-size: 16px;
  color: $DesaturatedBlue;
  display: block;

  &.card-description {
    line-height: 25px;
  }
}

h2 {
  font-size: 14px;
  color: $DarkBlue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
